# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Virtual Environments
venv/
.env/
.venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/


# Allow full AraElectra model folder
!models/araelectra-base-discriminator/**
!models/araelectra-base-discriminator/
!models/bert-base-arabertv02/**
!models/bert-base-arabertv02/
!models/bert-base-arabic-camelbert-mix/**
!models/bert-base-arabic-camelbert-mix/
# Allow ONLY lightweight ML models (override ignore)
!models/**/*.pkl
!models/**/*.joblib

# Allow model folders to exist (empty folders allowed)
!models/**/.gitkeep


# Logs / Cache
.cache/
*.log

# Build / Distribution
build/
dist/
downloads/
.eggs/
*.egg-info/
*.egg
wheels/
share/python-wheels/
MANIFEST

# Dependency Logs
pip-log.txt
pip-delete-this-directory.txt

# Test / Coverage
.tox/
.nox/
coverage.xml
*.cover
.pytest_cache/
.htmlcov/

# OS Files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Static type checking
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Docs build
docs/_build/
site/

# Ruff / Abstra / Others
.ruff_cache/
.abstra/
.pdm-python
.pypirc
.cursorignore
.cursorindexingignore

# Cython Debug
cython_debug/

# Reports SHOULD be uploaded
!reports/
!reports/**
